.App {
  overflow:auto;
  width:100%;
  height:100%;
  border: 1px solid rgb(40, 180, 43);
}
.wrapper-table {
  /* table-layout: fixed;
  width:100%; */
  border: 2px solid rgb(75, 25, 190);
  display: flex;
  flex-wrap: nowrap;
  width: auto;
}

.inner-div {
  border: 2px solid rgb(104, 24, 24);
  width: 100px;
  float: left;
  padding: 10px;
  margin: 5px;
}

.first-div {
  border: 2px solid rgb(18, 25, 168);
  width: 200px;
  float: left;
  padding: 10px;
  margin: 5px;
  position:sticky;
  left:0;
  z-index:1;
  background-color:red;
}

td,
th {
  border: 1px solid #000;
  width: 100px;
}
th {background-color:red;}

table {
  table-layout: fixed;
  width:100%;
}
td:first-child, th:first-child {
  position:sticky;
  left:0;
  z-index:1;
  background-color:grey;
}
td:last-child, th:last-child {
  position:sticky;
  right:0;
  z-index:1;
  background-color:blue;
}
thead tr th {
  position:sticky;
  top:0;
}
th:first-child, th:last-child {z-index:2;background-color:red;}
